<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <title><%= posts.title %></title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/new.css">
    <style>
        .btn{
        border-radius:30px;
        font-size: 16px;
        }
    </style>
    </head>
    <body>
            <%include ./partials/navbar.ejs %>
            <div class="container h100">
                <div class="post-content">
                    <div class="card-post mb-3">
                            <img class="card-img-top" src="<%= posts.imagepath %>" alt="">
                        <div class="card-body" style="margin-bottom:20px ">
                          <h5 class="card-title"><%= posts.title %></h5>
                          <p class="card-text">Game: <%= posts.gametype %></p>
                          <p class="card-text"><%= posts.description %></p>
                              <div class="row" >
                                <div class="col-sm-6">
                                  <p class="card-txtupdate"><small class="text-muted">Update's: <%= posts.date %></small></p>
                                </div>
                                <div class="col-sm-6">
                                  <p class="card-txtwrite"><small class="text-muted">Write's: <%= posts.name %></small></p>
                                </div>
                              </div>                             
                        </div>
                        <% post.forEach(function(postData) { %>                     
                            <div class="row">
                                <div class="card-body" style="position: relative;display:block; width: -webkit-fill-available;margin: 10px 10px 10px 10px; padding: 10px 10px 10px 10px">
                                    <p>comments : <%= postData.opnion %></p>
                                    <p style="color: lightpink">Write name : <%= postData.name %></p>

                                    <%if (!user){ %>
                                      
                                      <% } else if (user.name === postData.name  ) {%> 
                                        <div class="row">
                                          <a href="/content/community/<%= posts.gametype %>/<%= posts.id %>/<%= postData._id %>/edit" class="btn-read">Edit</a>
                                          <form action="/content/community/<%= posts.gametype %>/<%= posts.id %>/<%= postData._id %>/del" method="POST">
                                              <input type="hidden" id="<%= postData._id %>" name="<%= postData._id %>" value="delete" >
                                              <button class="btn btn-delete" type="summit" value="delete">Delete</button>
                                          </form>
                                        </div> 
                                        <% } %>   
                                </div>
                            </div>          
                          <% }) %>    

                        <form action="/content/community/<%= posts.gametype %>/<%= posts.id %>" method="post">
                          <div class="input-group" style="margin-top: 20px; margin-bottom: 20px;">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Write Comment</span>
                                </div>
                                  <input type="opnion"
                                          id="opnion"
                                          name="opnion" 
                                          class="form-control" 
                                          style="color: black"
                                          value="<%= typeof opnion != 'undefined' ? opnion : '' %>"
                                          />
                              
                          </div>
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </form>
                            <a href="/content/community/<%= posts.gametype %>" class="btn btn-delete" style="display: block;margin:auto;width:30%;">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <%include footer.ejs %>
                <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>       