
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
        <title>News</title>
        <link rel="stylesheet" href="/css/new.css">
        <link rel="stylesheet" href="/css/home.css">
        <style>
            .btn-danger{
                background: #ff8d72;
                background-image: -webkit-linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
                background-image: -o-linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
                background-image: -moz-linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
                background-image: linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
                background-size: 210% 210%;
                background-position: top right;
                background-color: #ff8d72;
                transition: all 0.15s ease;
                box-shadow: none;
                color: #ffffff;
                border-radius: 20px; 
                border-color:#ffffff00; 

            }

            .btn{
                border-radius:30px;
                font-size: 16px;
            }
        </style>
    </head>
    <body>
        <% include ./partials/navbar.ejs  %>

        <div class="Community_main" id="main">
            <div class="container h100">
                <div class="feedNew" id="feedNew">
                    <div class="text-center">
                        <h2>FEED NEWS </h2>
                        <hr> 
                    </div>
                    <% posts.forEach(function(postData) { %>
                        <div class="card">
                            <div class="row">
                                    <div class="col-sm-4">
                                    <img id="img-news" class="img-news" src="<%= postData.imagepath %>">
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="contentfeed">
                                            <h1><%= postData.title %></h1>

                                            <%if (!postData.gametype) { %>
                                                <p class="card-text">Game: - </p>
                                            <% } else {%>  
                                                <p class="card-text">Game: <%= postData.gametype %></p>
                                            <% } %>

                                            <p><%= postData.description %></p>
                                        </div>
                                        <div class="row">
                                            <%if (!user){ %>
                                                <a href="/content/news/<%= postData._id %>" class="btn-read">read..</a>
                                            <% } else if ( user.name === postData.Name || user.permission === 'admin' ) {%> 
                                                <a href="/content/news/<%= postData._id %>" class="btn-read">read..</a>

                                                <a href="/content/news/edit/<%= postData._id %>" class="btn-edit">Edit</a>
                                            
                                                <form action="/content/news/<%= postData._id %>/del" method="POST">
                                                    <input type="hidden" id="<%= postData._id %>" name="<%= postData._id %>" value="delete" >
                                                    <button class="btn btn-delete" type="summit" value="delete">DELETE</button>
                                                </form>
                                                 
                                                
                                                </form>
                                            <% } %>
                                        </div>   
                                    </div>
                            </div>
                        </div>   
                    <% }) %>       
                </div>
                <% if (!user) {%>
                <% } else if (user.permission === 'admin') { %>
                <div class="container" style="position: fixed;bottom: 5%;left: 80%; display: block;margin: auto;color:aliceblue;">
                        <a href="/content/createpost" class="btn btn-danger">create post</a>
                    </div> 
                <% } %>    
            </div>
          </div>
     
        <% include footer.ejs  %>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>        